/*social media icons from Mark Murray: http://codepen.io/markmurray/pen/JugrG/ */
@import url(http://www.markmurray.co/codepen/entypostyle.css);

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #C0C0C0;
  background-color: #fff;
}


/* General Styles */
p {
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #555;
  font-weight: bold;
  transition: color 300ms ease-out 0s;
}

a:hover,
a:focus,
a:active {
  color: #222;
}

ul li {
  list-style-type: none;
  line-height: 25px;
  padding: 5px;
}

/* Fluid images */
img {
  width: 100%;
  height: auto;
}

.bold {
  font-weight: bold;
}

.tools {
  font-weight: bold;
  color: #222;
}

.semi {
  color: #aeaeae;
}

.heading {
  font-weight: bold;
}

.vancouver {
  margin-bottom: 2em;
  width: 300px;
}
figure {
  margin-top: 3em;
}

.active {
  font-weight: bold;
  color: #000;
}

/* Header */
header {
  background: #222;
  background-position: center;
  background-size: cover;
  padding: 10em 0 6em 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.page-title {
  text-align: left;
}

header h1 {
  font-size: 48px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  right:2px;
}

header h2 {
 text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 36px;
  line-height: 1;
  color: #aeaeae;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0;
  position: relative;
  right:2px;
}

header p {
  color: #aeaeae;
  font-size: 20px;
  font-weight: 200;
}

header .button {
  background: #222;
  border: 1px solid #9AD959;
  color: #aeaeae;
  margin-left: .8em;
  font-weight: normal;
}

header .button:first-child {
   margin-left: 0; 
}

header .button:hover {
   border: 1px solid #fff;
  color: #fff;
 background: none;
}

.button .fa {
  position: relative;
  top: -1px;
  margin-right: 8px;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}    


/* Navigation */
nav {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #DDD;
  position: fixed;
  left: 0px;
  z-index: 99999;  
  background: #fff;   
  }

nav ul {
  padding: 0;
  margin: 0;
  height: 40px;
  float: right;
}
nav li {
  display: inline;
  float: left;
  padding-right: 50px;
}

nav li:last-child {
  padding-right: 20px;
}

nav a {
  color: #666;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding:15px 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: #9AD959;
  transition: .3s ease-out;
}

nav a#pull {
  display: none;
}    

.container-nav {
  max-width: 62%;
  margin: 0 auto;
  position: relative;
  margin-top: 0em;
}

        @media screen and (max-width: 800px) {

          header {
            padding: 5em 0 4em 0;
        }   

        .container-nav {
            max-width: 69.4%;
            margin: 0 auto;
            position: relative;
            margin-top: 0em;
        }

        nav {
            height: auto;
        }
        nav ul {
            display: none;
            height: auto;
            float: none;
            padding: 10px 0;
        }    
        nav li {
            width: 100%;
            float: left;
            position: relative;
            border-bottom: 1px solid #CCC;
          }

        nav li {
             padding-right: 0;
          }
          nav a {
              text-align: left;
              width: 100%;
              text-indent: 25px;
          }      
          nav a:hover {
              background:#eee;
          }
                    
        nav a#pull {
            display: block;
            width: 100%;
            position: relative;
        }
        nav a#pull:after {
            content:"";
            background: url(../images/nav-icon.png) no-repeat;
            width: 30px;
            height: 30px;
            color: #FFF;
            display: inline-block;
            position: absolute;
            right: 15px;
            top: 10px;
        }
        .logo {
          display: none;
        }
    }    

.logo {
  float: left;
  padding-top: 12px;
  font-size: 14px;
}

/* Social media icons */
.row {
  padding-top: 30px;
}

      @media only screen and (max-width: 580px) {
        .container-nav {
          max-width: 77%;
          margin: 0 auto;
          position: relative;
          margin-top: 0em;
      }
        header {
            padding: 5em 0 2em 0;          
        }

        header h1 {
          font-size: 2.5em;
        }

        header h2 {
          font-size: 1.3em;
        }
      }

      @media only screen and (max-width: 550px) {
        header .button {
          display: block;
          margin-bottom: .8em;
          margin-left: 0;
          width: 108px;
        }
      }

/* Content */
.container {
  max-width: 62%;
  margin: 0 auto;
  position: relative;
  margin-top: 0em;
}

section {
  padding: 1em 0em 1em;
  color: #777;
  max-width: 62%;
  margin: 0 auto;
}

section h2 {
  font-size: 18px;
  color: #333;
  font-weight: 700;
  text-align: left;
  margin-top: 1em;
}

/* Featured Works */
.button {
  border: 1px solid #C0C0C0;
  border-radius: 3px;
  background: #fff;
  color: #555;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: normal;
}

.button:hover {
  background: #eee;
  border: 1px solid #555;
  transition: .3s ease-out;
  color: #000;
}

.images img {
  border: 1px solid #ccc;
  padding: 10px;
  background: #fff;
}
  
.images{
  width: calc((100% - 10px * 4) / 3);
  margin-right: 10px;
  float: left;
  margin-bottom: 1em;
}

.images:nth-of-type(3) {
  margin-right: 0;
}

.images img:hover,
.images img:focus,
.images img:active {
  transition: 0.2s ease-out;
  opacity: 0.6;
}

      @media only screen and (max-width: 1450px) {
      .images{
        width: calc((100% - 10px * 3) / 2);
        }
        .images:nth-of-type(2) {
        margin-right: 0;
      }
      section,
      .container,
      .container-nav {
          max-width: 80%;  
        }
      }

      @media only screen and (max-width: 760px) {
      .images{
        width: 100%;
        }
        section {
          max-width: 80%;
        }
      }

#portfolio p {
  line-height: 30px; 
  margin: 1em 0;
  display: block;
  padding: 0 10px;
}

.gallery {
  margin-top: 2em;
  overflow: auto;
}


#portfolio h2 {
  text-align: left;
  font-size: 18px;
}

#about p {
    margin: 1em 0;
}

/* Contact */
form input,
textarea {
  margin: .3em 0 1em 0;
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

table td{
  display: block; 
}

#contact p {
  margin: 1em 0 2em 0;
}

#contact .button {
  margin-bottom: 5em;
}

/* Footer */
.site-footer {
  background: #F3F2EF;
  background-position: center;
  background-size: cover;
  clear: both;
}

.site-footer p {
  clear: both;
  font-size: 14px;
  line-height: 15px;
  padding: 20px 0;
  text-align: center;
  color: #555;
}
